.u-section-1 {
  background-image: url("images/IMG_7519.JPG");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 849px;
}

.u-section-1 .u-text-1 {
  font-size: 6.25rem;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  line-height: 2;
  width: 385px;
  font-family: "Aguafina Script";
  margin: 60px auto;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 700px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 536px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 402px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3.75rem;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 253px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3rem;
    width: 340px;
  }
}